div.code-block-caption {
    color: white;
    background-color: #234F32;
    /* margin-bottom: -22px; */
    padding: 2px 5px;
    width: 100%;
    font-family: monospace;
    line-height: 1.3em;
}

.output {
    background-color: #e3e0df;
    font-family: monospace;
    line-height: 1.3em;
    border: 1px solid #c8c7c7;
    padding: 5px 10px;
    margin: 15px;
}


.output .line-block {
    margin-top: 1px;
    margin-bottom: 1px
}